/.encore
encore.gen.go
encore.gen.cue
/encore.gen
.idea/

# idea
/target
.idea
.vscode
.cache
*.iml
private.rs
config.toml
*.bkp

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
tap2book/.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# my script

**/combine_sources.sh
**/combined_sources.txt
