BOT_TOKEN="7917461823:AAGdN9A-_fmyXsH-aa6s-N8BfDJuO677Mm0"  # (required) Telegram bot token from @BotFather
TELEGRAM_PAYMENTS_TOKEN=""  # (optional) Telegram Payments token from @BotFather. If not specified, Telegram Payments method will not work
WALLET_PAY_TOKEN=""  # (optional) Token for Wallet Pay from pay.wallet.tg. If not specified, Wallet Pay method will not work